body {
	margin: 0;
	font-family: arial, helvetica, sans-serif;
}
.display {
	
	
	margin-right: auto;
	margin-left: auto;
	width: 675px;
	height: 70px;
	color: #000;

}

.stage0 {
	background-image: url("loadshedding0.png");
}

.stage1 { 
	background-image: url("loadshedding1.png");
	
	}
.stage2 {
	background-image: url("loadshedding2.png");
}
.stage3 {
	background-image: url("loadshedding3.png");
}

.label {
	float: left;
	padding-right: 20px;
}

.finder {
	padding-top: 40px;
	padding-left: 90px;
	color: #fff;
}
